<div>
  
<div class="homepageBody">
 <div class="homepageBodyLeft">
    <div class="textContainer">
        <h1>{{propertyDetails?.property[0].address.line1 || 'error'}}</h1>
        <h3>${{propertyDetails?.property[0].sale.amount.saleamt || 'error'}}</h3>
        <div class="box1">
            <ul>
                <li>Year: {{propertyDetails?.property[0].summary.yearbuilt || 'error'}}</li>
                <li>Property Type: {{propertyDetails?.property[0].building.summary.bldgType || 'error'}}</li>
                <li>Size: {{propertyDetails?.property[0].building.size.bldgsize || 'error'}} SqFt</li>
                <li>Pool: {{propertyDetails?.property[0].lot.pooltype || 'error'}}</li>
                <li>Rooms: {{propertyDetails?.property[0].building.rooms.roomsTotal || 'error'}}</li>
                <li>Garage Size: {{propertyDetails?.property[0].building.parking?.prkgSpaces || 'error'}}</li>
                <li>House Levels: {{propertyDetails?.property[0].building.summary.levels || 'error'}}</li>
                
            </ul>
            <p>2/12/2018</p>
            <div class="box2">
            
            </div>
        </div>
    </div>
 </div>
 <div class="homepageBodyRight">
    <div class="houseImage" *ngIf="1 === 1"></div>
 </div>
</div>
