<div class="homepageBody">
 <div class="homepageBodyLeft">
    <div class="textContainer">
        <h1>5252 Nothern Ave</h1>
        <div class="box1">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="box2">
            
            </div>
        </div>
    </div>
 </div>
 <div class="homepageBodyRight">
    <div class="houseImage"></div>
 </div>
</div>