@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
.homepageBody {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    .homepageBodyLeft {
        width:40%;
        height:100%;
        display:flex;
        align-items: center;
        .textContainer {
            width:100%;
            height:90%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size:50px;
                font-weight:300;
                text-align:center;
                font-family: "Prata", serif;
            }
            h3 {
                text-align:center;
                font-weight:300;
            }
            .box1 {
                width:450px;
                height:500px;
                background-color:#6D8C6F;
                position:relative;
                z-index: 100;
                padding-top:0px;
                ul li {
                    list-style: none;
                    text-align:center;
                    color:black;
                    font-size:20px;
                    padding-top:20px;
                    font-weight:300;
                }
                p {
                    color:rgb(107, 107, 107);
                    text-align:center;
                    position:absolute;
                    bottom:0;
                    left:50%;
                    transform: translate(-50%);
                }
            }
            .box2 {
                width:450px;
                height:500px;
                background-color:#6d8c6f88;
                position:relative;
                left:50px;
                bottom:300px;
                z-index:-1;
            }
        }
    }
    .homepageBodyRight {
        width:60%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        .houseImage {
            width:90%;
            height:70%;
            background-image: url(../../../assets/houseImage.png);
            background-size:cover;
            margin-top:50px;
            background-position:center;
        }
    }
}


  
@media screen and (max-width: 800px) {
    
    .homepageBody .homepageBodyLeft .textContainer h1 {
        font-size:20px;
        position:relative;
    }
    .homepageBody .homepageBodyLeft .textContainer h3 {
        font-size:15px;
        position:relative;
    }
    .homepageBody .homepageBodyLeft .textContainer .box1 {
        background-color:transparent;
        width:120px;
        display:flex;
        justify-content: center;
        align-items:center;
        height:400px;

    }
    .homepageBody .homepageBodyLeft .textContainer .box1 ul  {
        text-align:center;
        margin: auto;
        position:absolute;
        left:50%;
        transform: translate(-50%);
    }
    .homepageBody .homepageBodyLeft .textContainer .box1 ul li {
        color: white;
        font-size:15px;
        text-align:center;
    }
    .homepageBody .homepageBodyLeft .textContainer .box1 p {
        position:relative;
        top:250px;
    }
    .homepageBody .homepageBodyLeft .textContainer .box2 {
        display:none;
    }
 }