<ion-tabs>
  <ion-tab-bar color="none" slot="top">
<div class="left">
  <div class="logo"></div>
</div>
    
<!-- <span class="spacer"></span> -->
<div class="middle">
      <ion-tab-button tab="about" class="no-ripple-effect tabButton"><ion-label>ABOUT</ion-label></ion-tab-button>

      <ion-tab-button tab="home" class="no-ripple-effect tabButton"><ion-label>HOME</ion-label></ion-tab-button>
    
      <ion-tab-button tab="browse" class="no-ripple-effect tabButton"><ion-label>BROWSE</ion-label></ion-tab-button>

</div>

      <!-- <span class="spacer"></span> -->
      <div class="right">
        <ion-tab-button id="sign-in" *ngIf="(afAuth.user | async) === null" tab="sign-in" class="no-ripple-effect"><ion-label>SIGN IN</ion-label></ion-tab-button>
        <ion-tab-button id="sign-out" *ngIf="(afAuth.user | async)" class="no-ripple-effect" tab="sign-in"><ion-label>SIGN OUT</ion-label></ion-tab-button>
        <div class="ion-page" id="main-content">
                <ion-menu-button></ion-menu-button>
        </div>
        
      </div>
      


 </ion-tab-bar>
    <ion-menu contentId="main-content" class="menu-content">
      <ion-header>
        <ion-item>
            HOMELOCK
        </ion-item>
      </ion-header>
      <ion-tab-bar>
        <ion-tab-button tab="about">
          <ion-icon name="information-circle-outline"></ion-icon>
          About
        </ion-tab-button>
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="browse">
          <ion-icon name="search-outline"></ion-icon>
          Browse
        </ion-tab-button>
      </ion-tab-bar>
        
    </ion-menu>
 
</ion-tabs>
