<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Map</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="full searchbar">
    <ion-item class="search" *ngIf="!showMap" [@popOut]>
      <ion-item class="searchBarPosition">
          <ion-label position="floating">Postal Code</ion-label>
          <ion-input [(ngModel)]="postalcode" [min]="0"></ion-input>
          <ion-note slot="helper" *ngIf="!invalidPostalCode">Enter a valid Postal Code</ion-note>
          <ion-note slot="helper" *ngIf="invalidPostalCode" color="danger">Invalid Postal Code</ion-note>
          <ion-note slot="error">Invalid Postal Code</ion-note>

      </ion-item>
      <ion-item>
        <ion-button (click)="generateMap()">Lookup houses</ion-button>
      </ion-item>
      
    </ion-item>
    
    
  <div #map id="map" class="full"></div>
  </div>
  

</ion-content>
