.full {
    height: 100%;
    width: 100%;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search {
    z-index: 2;
}

#map {
    position: fixed;
}
ion-item {
    height:150px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.searchBarPosition {
    display:flex;
    flex-direction:column;
    margin-right:10px;
}


